/*
!/.gitignore
!/.gitmodules
!/build.gradle
!/chan.properties
!/COPYING
!/keystore.properties.template
/keystore.properties
!/engines
/engines/*/*
!/engines/*/build.gradle
!/engines/*/res
!/engines/*/src
!/extensions
/extensions/*/*
!/extensions/*/build.gradle
!/extensions/*/proguard-rules.pro
!/extensions/*/res
!/extensions/*/src
!/gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/library
!/README.md
!/settings.gradle
